In [4]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [5]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Determine Precipitation Statistics for June

In [9]:
june_prec_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

In [10]:
june_perc = list(np.ravel(june_prec_results))

In [17]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_prec_df = pd.DataFrame(june_prec_results, columns = ['date', 'prcp'])
june_prec_df.set_index(june_prec_df['date'], inplace=True)

In [18]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_prec_df.describe()

              prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

## Determine Precipitation Statistics for December

In [26]:
december_prec_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()
december_prec = list(np.ravel(december_prec_results))
december_prec_df = pd.DataFrame(december_prec_results, columns = ['date', 'prcp'])
december_prec_df.set_index(december_prec_df['date'], inplace=True)
december_prec_df.describe()

              prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000