In [41]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [42]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [43]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [44]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [45]:
#  3. Convert the June temperatures to a list.
june_temp = list(np.ravel(june_results))

In [46]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_results, columns = ['date', 'tobs'])
june_df.set_index(june_df['date'], inplace=True)

In [47]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [48]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [49]:
# 7. Convert the December temperatures to a list.
december_temp = list(np.ravel(december_results))

In [50]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(december_results, columns = ['date', 'tobs'])
december_df.set_index(december_df['date'], inplace=True)

In [51]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## Determine Precipitation Statistics for June

In [52]:
june_prec_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()
june_prec = list(np.ravel(june_prec_results))
june_prec_df = pd.DataFrame(june_prec_results, columns = ['date', 'prcp'])
june_prec_df.set_index(june_prec_df['date'], inplace=True)
june_prec_df.describe()

              prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

## Determine Precipitation Statistics for December

In [53]:
december_prec_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()
december_prec = list(np.ravel(december_prec_results))
december_prec_df = pd.DataFrame(december_prec_results, columns = ['date', 'prcp'])
december_prec_df.set_index(december_prec_df['date'], inplace=True)
december_prec_df.describe()

              prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000

## Determine mean temperature and precipitation by Station

In [54]:
# Creating Dataframe to display station and mean measurements for December
december_results_alt = session.query(Measurement.date, Measurement.station, Measurement.tobs, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()
december_df_alt = pd.DataFrame(december_results_alt, columns = ['date','station','tobs','prcp'])
december_df_alt.set_index(december_df['date'], inplace=True)
Station_temp_prcp_dec_df = december_df_alt.groupby('station').mean()
Station_temp_prcp_dec_df

                  tobs      prcp
station
USC00511918  69.684211  0.138146
USC00513117  71.069444  0.203241
USC00514830  73.224719  0.154966
USC00516128  69.291262  0.507005
USC00517948  71.834862  0.152727
USC00518838  72.421053  0.638182
USC00519281  69.903226  0.244931
USC00519397  71.109524  0.075314
USC00519523  72.433333  0.162010

In [55]:
# Creating Dataframe to display station and mean measurements for June 
june_results_alt = session.query(Measurement.date, Measurement.station, Measurement.tobs, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()
june_df_alt = pd.DataFrame(june_results_alt, columns = ['date','station','tobs','prcp'])
june_df_alt.set_index(june_df['date'], inplace=True)
Station_temp_prcp_june_df = june_df_alt.groupby('station').mean()
Station_temp_prcp_june_df

                  tobs      prcp
station
USC00511918  74.139394  0.015157
USC00513117  74.050847  0.118248
USC00514830  76.005376  0.114192
USC00516128  71.937220  0.495748
USC00517948  76.655405  0.057975
USC00518838  73.394737  0.094615
USC00519281  73.271186  0.151525
USC00519397  77.559322  0.022661
USC00519523  76.668103  0.050044

In [56]:
# Creating DataFrame to display station_id, name and elevation#
station_id = session.query(Station.station, Station.name, Station.elevation)
station_id_df= pd.DataFrame(station_id, columns = ['station','name','elevation'])
station_id_df

       station                                    name  elevation
0  USC00519397                    WAIKIKI 717.2, HI US        3.0
1  USC00513117                    KANEOHE 838.1, HI US       14.6
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US        7.0
3  USC00517948                       PEARL CITY, HI US       11.9
4  USC00518838              UPPER WAHIAWA 874.3, HI US      306.6
5  USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US       19.5
6  USC00519281                     WAIHEE 837.5, HI US       32.9
7  USC00511918       HONOLULU OBSERVATORY 702.2, HI US        0.9
8  USC00516128            MANOA LYON ARBO 785.2, HI US      152.4

In [57]:
# merging DataFrames on 'station' for June
weather_by_loc_june_df = station_id_df.merge(Station_temp_prcp_june_df, on = 'station')
weather_by_loc_june_df

,station,name,elevation,tobs,prcp
0,USC00519397,"WAIKIKI 717.2, HI US",3.0,77.559322,0.022661
1,USC00513117,"KANEOHE 838.1, HI US",14.6,74.050847,0.118248
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",7.0,76.005376,0.114192
3,USC00517948,"PEARL CITY, HI US",11.9,76.655405,0.057975
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",306.6,73.394737,0.094615
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",19.5,76.668103,0.050044
6,USC00519281,"WAIHEE 837.5, HI US",32.9,73.271186,0.151525
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",0.9,74.139394,0.015157
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",152.4,71.937220,0.495748

In [58]:
# merging DataFrames on 'station' for December
weather_by_loc_dec_df = station_id_df.merge(Station_temp_prcp_dec_df, on = 'station')
weather_by_loc_dec_df

,station,name,elevation,tobs,prcp
0,USC00519397,"WAIKIKI 717.2, HI US",3.0,71.109524,0.075314
1,USC00513117,"KANEOHE 838.1, HI US",14.6,71.069444,0.203241
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",7.0,73.224719,0.154966
3,USC00517948,"PEARL CITY, HI US",11.9,71.834862,0.152727
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",306.6,72.421053,0.638182
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",19.5,72.433333,0.162010
6,USC00519281,"WAIHEE 837.5, HI US",32.9,69.903226,0.244931
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",0.9,69.684211,0.138146
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",152.4,69.291262,0.507005